<section id="todos">
  <header>
    <h2>Editing "<%= @list[:name] %>"</h2>
    <ul>
      <li>
        <a class="edit" href="/lists/<%= @params['list_id']%>/edit_list">edit list</a>        
      </li>
    </ul>
  </header>
</section>